.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section___7ZmkR {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___7ZmkR {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container432 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.container432 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.container432 > :global(.__wab_flex-container) > *,
.container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) > *,
  .container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-top: 8px;
  }
}
.svg__lZFX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__w9Cj9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dXMme {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nrAql {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xeFio {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__diYuf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__j4FmW {
  position: relative;
  color: #00000040;
}
.svg__k8VG4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__ncY6Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uqvwa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__otpaa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__agwbq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h9PSr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__xlY4W {
  position: relative;
  color: #00000040;
}
.svg__idkTx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___5UzCx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u4O9L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1WkGc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o7DxE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eNvNm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__gUm4E {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__gUm4E {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container4322 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container4322 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container4322 > :global(.__wab_flex-container) > *,
.container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) > *,
  .container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.box__muvmW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__muvmW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__muvmW > :global(.__wab_flex-container) > *,
.box__muvmW > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.img__m0Mdi {
  object-fit: cover;
}
.box__fQLqE {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__fQLqE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__fQLqE > :global(.__wab_flex-container) > *,
.box__fQLqE > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.img__fopb {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__buyJ4 {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__xGpb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__xGpb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__xGpb > :global(.__wab_flex-container) > *,
.box__xGpb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.img__h5V2Z {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__zhEaG {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__yd5Zn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__yd5Zn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__yd5Zn > :global(.__wab_flex-container) > *,
.box__yd5Zn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.img__aXc20 {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__zrcpb {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__hXgMl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__hXgMl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__hXgMl > :global(.__wab_flex-container) > *,
.box__hXgMl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__mU76 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  position: relative;
}
.price:global(.__wab_instance) {
  position: relative;
}
.box__dSLpR {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box__tjva {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__vnmUk {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box__fqo3R {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__fqo3R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__fqo3R > :global(.__wab_flex-container) > *,
.box__fqo3R > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.img___3G7GW {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img__a5Npn {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img__lb5Ji {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.box__rk8A {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__rk8A > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__rk8A > :global(.__wab_flex-container) > *,
.box__rk8A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box___2JHcO {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.box__tGVU {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__tGVU > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__tGVU > :global(.__wab_flex-container) > *,
.box__tGVU > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
  margin-top: 8px;
}
.svg__fSpHv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__krZz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b6ZQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fnFxr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rr8J1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Ikq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vcnAy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bFaIr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6GmzD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jGftU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oFdv9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__xu5EG {
  width: auto;
  display: inline-block;
}
.svg__dPf6W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__s35Ln {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jqL06 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2IXCo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uvldw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lyyqn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__qpQ5Z {
  width: auto;
  display: inline-block;
}
.svg___1JtuC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qQQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xMQa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zmYbI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w9BC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wgf80 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__dgSbz {
  width: auto;
  display: inline-block;
}
.svg___3CJ7K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__npral {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ed7Ps {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zfhsz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e1Rh8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eDmlQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__sYu6 {
  width: auto;
  display: inline-block;
}
.svg__txjX8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qnxFa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n1Ut1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qvgm9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sHj8M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nQNh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__cqAmx {
  width: auto;
  display: inline-block;
}
.svg__sjvjY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dEwll {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3TzE1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__enKeE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vP4Fr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v1ES {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__zl9F4 {
  width: auto;
  display: inline-block;
}
.svg__rVjUw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2KiLy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ktkn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lxY6Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g6T4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__egBBs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__kxBPq {
  width: auto;
  display: inline-block;
}
.svg__prH29 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gu0F5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o7Lnq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tPy71 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bKp6Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yWdwb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__m5Wzg {
  width: auto;
  display: inline-block;
}
.svg__uRlXn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___8Vhu4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wgYZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wxaCb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oAsQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8K5M8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__kDdoj {
  width: auto;
  display: inline-block;
}
.svg__lgHEl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sUeob {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hydTg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cyMgC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4KovD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j5H3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__dVvG6 {
  width: auto;
  display: inline-block;
}
.svg__bDRiE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lhtQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__r7Hao {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y21QW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i1Sbn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vMae1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__rmwpJ {
  width: auto;
  display: inline-block;
}
.svg__fbrAx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fjP3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sz4Sp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qls94 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___58KA5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sz6Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__dQmR {
  width: auto;
  display: inline-block;
}
.svg__zcO5T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__d169 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__d169 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__d169 > :global(.__wab_flex-container) > *,
.box__d169 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__d169 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__d169 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__d169 > :global(.__wab_flex-container) > *,
  .box__d169 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.box__ea3A8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__ea3A8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__ea3A8 > :global(.__wab_flex-container) > *,
.box__ea3A8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__nt0Ki {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.button__pt0SY:global(.__wab_instance) {
  position: relative;
}
.svg__f4Ila {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v5Np {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d2A90 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8BAXb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0KlRo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kfsNc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__gXci {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__gXci > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__gXci > :global(.__wab_flex-container) > *,
.box__gXci > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__nhJQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___90EZn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nnGqa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bptj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xo3Nh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__keKfP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__cXvnn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u6YYb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sCmqO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Ck4B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iDkd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mgMzs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator__psPtG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__gskuA {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__gskuA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__gskuA > :global(.__wab_flex-container) > *,
.box__gskuA > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__nLdbN {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.box__onAh4 {
  height: auto;
}
.separator__wnWIo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__tDFvA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__tDFvA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__tDFvA > :global(.__wab_flex-container) > *,
.box__tDFvA > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__m18Hx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.box__ypzUp {
  height: auto;
}
.separator__iZfS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__mgdjl {
  height: auto;
}
.separator__lwpV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__k5H4P {
  height: auto;
}
.separator__ffSg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__uU9JK {
  height: auto;
}
.section__yymCo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.box__f72Ta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box__hO8XN {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___73Iq7:global(.__wab_instance) {
  position: relative;
}
.svg__rgHj2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lsH4E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yVJr3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vsxaK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uhX3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vusnZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.box__uZvA {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.box__uZvA > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__uZvA > :global(.__wab_flex-container) > *,
.box__uZvA > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.img__rzgGe {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.svg__t3Jkt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__swcun {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bDoya {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6Nrs6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g8Igk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hTi4L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__r2ENp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__vmfwh {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: b-uTjz8OiIi5w5 */;
  text-align: left;
  min-width: 0;
}
.box___5RSvg {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box__tmC {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box___5VkCz {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__auwlw:global(.__wab_instance) {
  position: relative;
}
.img__knfCp {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.svg__aeYVv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2V0X9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zcIzl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__meDa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z1Ukr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uI58 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__l9Bat {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__l47Aj {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: b-uTjz8OiIi5w5 */;
  text-align: left;
  min-width: 0;
}
.box___4VpbI {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box___8Misa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__ttYd2 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__nf6Rv:global(.__wab_instance) {
  position: relative;
}
.img__w6O1S {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.svg__sERaA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sK6Qv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__yltoo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1TKxk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__isaKj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cjE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__u2Skw {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__lQaR0 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: b-uTjz8OiIi5w5 */;
  text-align: left;
  min-width: 0;
}
.box__fsOgo {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box__zdTl4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__xz3PE {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__as2A1:global(.__wab_instance) {
  position: relative;
}
.img___6GhgM {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___36Tda {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yWjyh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xNkh2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__x74Uc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vfNfw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wLntE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__qbp7A {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__lr7K {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: b-uTjz8OiIi5w5 */;
  text-align: left;
  min-width: 0;
}
.box__z4Bj8 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box___5Fm8 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__m2ZYt {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__j2PIk:global(.__wab_instance) {
  position: relative;
}
.img___0QiR {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__r4K7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vry6G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tiiAd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Ie0D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__brr34 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fb7LB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__oiqp8 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__wO4So {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: b-uTjz8OiIi5w5 */;
  text-align: left;
  min-width: 0;
}
.box__egjUy {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box__riecv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box___4MHrz {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__y75M2:global(.__wab_instance) {
  position: relative;
}
.img__s99Vb {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__xQkk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pHeH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xlmt6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tqiTq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kr8H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__baj3G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__w6TzP {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box___6YD7L {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: b-uTjz8OiIi5w5 */;
  min-width: 0;
}
.box___2LhT {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.box__hlHn4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.box__giCh {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.box__itW4W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__itW4W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__itW4W > :global(.__wab_flex-container) > *,
.box__itW4W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__y9Enz {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.box__chMmh {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button__cuqZa:global(.__wab_instance) {
  position: relative;
}
.svg__wz2Xk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lvXoN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uOyQw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ctkM3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5HusX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cVw8I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__spwl6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__spwl6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__spwl6 > :global(.__wab_flex-container) > *,
.box__spwl6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__yiNEx {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box__qy9Ws {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__qy9Ws > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__qy9Ws > :global(.__wab_flex-container) > *,
.box__qy9Ws > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg___5Pf5B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___2Disx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k7Rc8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vlDW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dEa2B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dUv19 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kEpBx:global(.__wab_instance) {
  position: relative;
}
.svg__edtVw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__l1R0Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___23T5F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nD3Tt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qGUlz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___4UHrx {
  height: auto;
}
.svg__bprcT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yKoSi:global(.__wab_instance) {
  position: relative;
}
.svg__xOvEc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__toHbZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1YB2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uHzXr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Swd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__wbby1 {
  height: auto;
}
.svg__is7La {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__aeRe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__aeRe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__aeRe > :global(.__wab_flex-container) > *,
.box__aeRe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__kr1W4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.box__vHwE2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__mVbLo {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__mVbLo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__mVbLo > :global(.__wab_flex-container) > *,
.box__mVbLo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.svg__pnHt9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vjSi9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pySwC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bKdkd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yBa5O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Iix5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__lkcOd:global(.__wab_instance) {
  position: relative;
}
.svg__jGpyV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fZ66X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zvYq0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xg05 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k3Di {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p2Cjq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dnfOz:global(.__wab_instance) {
  position: relative;
}
.svg__csMyO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qUf4W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dw4IR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__glnPs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7DuH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e8WJn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dynKr:global(.__wab_instance) {
  position: relative;
}
.svg__xr5Fi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kDvAl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f9E1C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d76Cb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cxcp3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vPaRh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.box__qWoam {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__qWoam > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__qWoam > :global(.__wab_flex-container) > *,
.box__qWoam > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.button__mMv4H:global(.__wab_instance) {
  position: relative;
}
.svg__hiUp5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__to1Bt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ngofq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iMfDr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q6W0N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lChJ4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qoRj1:global(.__wab_instance) {
  position: relative;
}
.svg__kj1Ch {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xTuf9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gpX2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gh4Xx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pLWdO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rojOr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ixpv5:global(.__wab_instance) {
  position: relative;
}
.svg__cK8Ph {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xW3LM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cxAjW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zrum5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bR70A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rc8E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
