.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.box__x0PS7 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.box__x0PS7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__x0PS7 > :global(.__wab_flex-container) > *,
.box__x0PS7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.value__mPt47:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__eWs3S {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.box__k6B9W {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___1B49W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__qgPq:global(.__wab_instance) {
  position: relative;
}
.svg__pdHtE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e1Cpt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__rVknl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ePnBc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fCIo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lUOfY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value__jXIof:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box___3Ohts {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.box__k48CO {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__gtOoH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___173M0:global(.__wab_instance) {
  position: relative;
}
.svg__ofoV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__edVo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dxLqg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ty9UT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Exf8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t6FEx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value__j2WZt:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__oWrrW {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.box__u3SQb {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__lbV0R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__laSr:global(.__wab_instance) {
  position: relative;
}
.svg__tpDc3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vpJkg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xij5L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2REcz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dyuHj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5S8Ip {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
